<template name="header">
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-xs-12">
			  	<h1>ANGRY-MARIO</h1>
			  </div>
			</div>
			<div class="row">
			  <div class="col-xs-4">
			  	<h4><a href="{{pathFor 'home'}}" class="btn btn-success btn-lg btn-block">HOME</a></h4>
			  </div>
			  <div class="col-xs-4">
			  	<h4><a href="{{pathFor 'game'}}" class="btn btn-success btn-lg btn-block">GAME</a></h4>
			  </div>
			  <div class="col-xs-4">
			  	<h4><a href="{{pathFor 'results'}}" class="btn btn-success btn-lg btn-block">RESULTS</a></h4>
			  </div>
			</div>
		</div>
	</div>
</template>